# Analisis pemilihan ekstrakulikuler di SMA X

###### Aturan pemilihan eskul:

1. Siswa ataupun siswi wajib mengikuti ekstrakurikuler Pramuka
2. Siswa ataupun siswi wajib memilih min 2 ekstrakurikuler (termasuk pramuka) dan max 3 ekstrakurikuler
3. Hanya siswa/i kelas 10 dan 11 yang boleh mengikuti kegiatan ekstrakurikuler

###### Deskripsi dataset:

1. Terdapat 150 data siswa/i yang tercatat dalam pemilihan kegiatan ekstrakurikuler
2. Pada analisis ini menggunakan library apyori untuk menghitung aturan asosiasi menggunakan metode Apriori

In [1]:
#menambahkan library apyori
%pip install apyori

Requirement already satisfied: apyori in c:\programdata\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

### Import the Library

In [2]:
import numpy as np
import pandas as pd#
import matplotlib.pyplot as plt
from apyori import apriori

### Read data and Display

In [3]:
data = pd.read_excel("data_eskul.xlsx", header=None)
data

,0,1,2,3,4,5,6,7,8,9,10
0,No,Nama,Kelas,JenisKelamin,Pramuka,Paskibra,PMR,KIR,VolleyBall,SepakBola,Seni
1,1,ADI MULYANA,10 IPA 1,L,Pramuka,Paskibra,NaN,NaN,NaN,NaN,NaN
2,2,ADIK NUGROHO,10 IPA 1,L,Pramuka,NaN,NaN,NaN,NaN,NaN,NaN
3,3,AFRILIA ANGGI SAPUTRI,10 IPA 1,P,Pramuka,NaN,NaN,NaN,NaN,NaN,NaN
4,4,ALVINDI FAUZIAH,10 IPA 1,P,Pramuka,NaN,PMR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
146,146,NOLA AFITRIANI,11 IPS 2,P,Pramuka,NaN,PMR,NaN,NaN,NaN,NaN
147,147,NUROHMAN,11 IPS 2,L,Pramuka,NaN,NaN,KIR,NaN,NaN,NaN
148,148,RIZAL SETIAWAN,11 IPS 2,L,Pramuka,NaN,NaN,NaN,VolleyBall,NaN,NaN
149,149,RIZKY ARIL GIAN,11 IPS 2,L,Pramuka,NaN,NaN,NaN,NaN,SepakBola,NaN
150,150,SITI ROHMAWATI,11 IPS 2,P,Pramuka,NaN,PMR,NaN,NaN,NaN,Seni

### Preprocessing on Data

Disini kita membutuhkan data berupa list untuk Algoritma Apriori.

In [4]:
records = []
for i in range(1, 150): #mengambil data siswa/i dari data ke-1 sampai dengan 150
    records.append([str(data.values[i, j]) for j in range(4, 10)]) #dengan variabel kelas, jenis kelamin, dan eskul
    
print(type(records))

<class 'list'>

### Apriori Algorithm

1. Menerapkan algoritma apriori pada data.
2. Kami telah menyediakan min_support, min_confidence, min_lift, dan min_length dari sampel-set untuk menemukan aturan.

In [5]:
association_rules = apriori(records, min_support=0.5, min_confidence=0.5, min_lift=1)
association_results = list(association_rules)

In [6]:
print("Ada {} relasi yang didapatkan.".format(len(association_results)))

Ada 3 relasi yang didapatkan.

In [7]:
for i in range(0, len(association_results)):
    print(association_results[i][0])

frozenset({'Pramuka'})
frozenset({'nan'})
frozenset({'Pramuka', 'nan'})

In [8]:
for item in association_results:
    #index pertama dari daftar dalam yang berisi item dasar dan item yang ditambahkan
    pair = item[0]
    items = [x for x in pair]
    print("Rule: " + items[0])

    #index kedua dari daftar list
    print("Support: " + str(item[1]))

    #indeks ketiga dari daftar yang terletak di 0
    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: Pramuka
Support: 1.0
Confidence: 1.0
Lift: 1.0
=====================================
Rule: nan
Support: 1.0
Confidence: 1.0
Lift: 1.0
=====================================
Rule: Pramuka
Support: 1.0
Confidence: 1.0
Lift: 1.0
=====================================