# Analisis pemilihan ekstrakulikuler di SMA x

#### Aturan pemilihan eskul:

1. Siswa ataupun siswi wajib mengikuti ekstrakurikuler Pramuka
2. Siswa ataupun siswi wajib memilih min 2 ekstrakurikuler (termasuk pramuka) dan max 3 ekstrakurikuler
3. Hanya siswa/i kelas 10 dan 11 yang boleh mengikuti kegiatan ekstrakurikuler

#### Deskripsi dataset:

1. Terdapat 150 data siswa/i yang tercatat dalam pemilihan kegiatan ekstrakurikuler
2. Pada analisis ini menggunakan library apyori untuk menghitung aturan asosiasi menggunakan metode Apriori

In [1]:
#menambahkan library apyori
%pip install apyori

Requirement already satisfied: apyori in c:\programdata\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

### Import the Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori

### Read data and Display

In [2]:
data = pd.read_csv("data_eskul.csv", header=None)
data

,0,1,2,3,4,5,6,7,8,9,10
0,No,Nama,Kelas,JenisKelamin,Pramuka,Paskibra,PMR,KIR,VolleyBall,SepakBola,Seni
1,1,ADI MULYANA,10 IPA 1,L,Pramuka,Paskibra,NaN,NaN,NaN,NaN,NaN
2,2,ADIK NUGROHO,10 IPA 1,L,Pramuka,Paskibra,NaN,NaN,NaN,NaN,NaN
3,3,AFRILIA ANGGI SAPUTRI,10 IPA 1,P,Pramuka,Paskibra,NaN,NaN,NaN,NaN,NaN
4,4,ALVINDI FAUZIAH,10 IPA 1,P,Pramuka,NaN,PMR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
146,146,NOLA AFITRIANI,11 IPS 2,P,Pramuka,NaN,PMR,NaN,NaN,NaN,NaN
147,147,NUROHMAN,11 IPS 2,L,Pramuka,NaN,NaN,KIR,NaN,NaN,NaN
148,148,RIZAL SETIAWAN,11 IPS 2,L,Pramuka,NaN,NaN,NaN,VolleyBall,NaN,NaN
149,149,RIZKY ARIL GIAN,11 IPS 2,L,Pramuka,NaN,NaN,NaN,NaN,SepakBola,NaN
150,150,SITI ROHMAWATI,11 IPS 2,P,Pramuka,NaN,PMR,NaN,NaN,NaN,Seni

### Preprocessing on Data

Disini kita hanya membutuhkan beberapa kolom data berupa list untuk Algoritma Apriori.

In [3]:
records = []
for i in range(1, 150): #mengambil data siswa/i dari data ke-1 sampai dengan 150
    records.append([str(data.values[i, j]) for j in range(4, 10)]) #dengan semua kategori eskul, kecuali pramuka
    
print(type(records))

<class 'list'>

### Apriori Algorithm

1. Menerapkan algoritma apriori pada data.
2. Kami telah menyediakan min_support dan min_confidence dari sampel-set untuk menemukan aturan.

In [8]:
association_rules = apriori(records, min_support=0.06, min_confidence=0.06, min_length=2)
association_results = list(association_rules)

In [9]:
print("Ada {} relasi yang didapatkan.".format(len(association_results)))

Ada 23 relasi yang didapatkan.

In [10]:
for i in range(0, len(association_results)):
    print(association_results[i][0])

frozenset({'KIR'})
frozenset({'PMR'})
frozenset({'Paskibra'})
frozenset({'Pramuka'})
frozenset({'SepakBola'})
frozenset({'VolleyBall'})
frozenset({'nan'})
frozenset({'Pramuka', 'KIR'})
frozenset({'nan', 'KIR'})
frozenset({'Pramuka', 'PMR'})
frozenset({'nan', 'PMR'})
frozenset({'Paskibra', 'Pramuka'})
frozenset({'Paskibra', 'nan'})
frozenset({'SepakBola', 'Pramuka'})
frozenset({'Pramuka', 'VolleyBall'})
frozenset({'Pramuka', 'nan'})
frozenset({'SepakBola', 'nan'})
frozenset({'VolleyBall', 'nan'})
frozenset({'Pramuka', 'nan', 'KIR'})
frozenset({'Pramuka', 'nan', 'PMR'})
frozenset({'Paskibra', 'nan', 'Pramuka'})
frozenset({'SepakBola', 'Pramuka', 'nan'})
frozenset({'Pramuka', 'nan', 'VolleyBall'})

In [13]:
for item in association_results:
    # first index of the inner list
    # Contains base item and add item
    pair = item[0]
    items = [x for x in pair]
    print("Rule: " + items[0] )

    # second index of the inner list
    print("Support: " + str(item[1]))

    # third index of the list located at 0th
    # of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: KIR
Support: 0.26174496644295303
Confidence: 0.26174496644295303
Lift: 1.0
=====================================
Rule: PMR
Support: 0.2214765100671141
Confidence: 0.2214765100671141
Lift: 1.0
=====================================
Rule: Paskibra
Support: 0.2348993288590604
Confidence: 0.2348993288590604
Lift: 1.0
=====================================
Rule: Pramuka
Support: 1.0
Confidence: 1.0
Lift: 1.0
=====================================
Rule: SepakBola
Support: 0.18120805369127516
Confidence: 0.18120805369127516
Lift: 1.0
=====================================
Rule: VolleyBall
Support: 0.2080536912751678
Confidence: 0.2080536912751678
Lift: 1.0
=====================================
Rule: nan
Support: 1.0
Confidence: 1.0
Lift: 1.0
=====================================
Rule: Pramuka
Support: 0.26174496644295303
Confidence: 0.26174496644295303
Lift: 1.0
=====================================
Rule: nan
Support: 0.26174496644295303
Confidence: 0.26174496644295303
Lift: 1.0
=====================================
Rule: Pramuka
Support: 0.2214765100671141
Confidence: 0.2214765100671141
Lift: 1.0
=====================================
Rule: nan
Support: 0.2214765100671141
Confidence: 0.2214765100671141
Lift: 1.0
=====================================
Rule: Paskibra
Support: 0.2348993288590604
Confidence: 0.2348993288590604
Lift: 1.0
=====================================
Rule: Paskibra
Support: 0.2348993288590604
Confidence: 0.2348993288590604
Lift: 1.0
=====================================
Rule: SepakBola
Support: 0.18120805369127516
Confidence: 0.18120805369127516
Lift: 1.0
=====================================
Rule: Pramuka
Support: 0.2080536912751678
Confidence: 0.2080536912751678
Lift: 1.0
=====================================
Rule: Pramuka
Support: 1.0
Confidence: 1.0
Lift: 1.0
=====================================
Rule: SepakBola
Support: 0.18120805369127516
Confidence: 0.18120805369127516
Lift: 1.0
=====================================
Rule: VolleyBall
Support: 0.2080536912751678
Confidence: 0.2080536912751678
Lift: 1.0
=====================================
Rule: Pramuka
Support: 0.26174496644295303
Confidence: 0.26174496644295303
Lift: 1.0
=====================================
Rule: Pramuka
Support: 0.2214765100671141
Confidence: 0.2214765100671141
Lift: 1.0
=====================================
Rule: Paskibra
Support: 0.2348993288590604
Confidence: 0.2348993288590604
Lift: 1.0
=====================================
Rule: SepakBola
Support: 0.18120805369127516
Confidence: 0.18120805369127516
Lift: 1.0
=====================================
Rule: Pramuka
Support: 0.2080536912751678
Confidence: 0.2080536912751678
Lift: 1.0
=====================================