In [5]:
from openpyxl import load_workbook
import pandas as pd

In [6]:
df = pd.read_csv ("Data Alumni.csv")
df

,No,Nim,Nama,TTL,Fakultas/Ketrampilan,Alamat,Tahun Masuk,Tahun Lulus,Status Pekerjaan,Lama Masa Tunggu (bulan),Gaji Pertama bekerjaa,Nilai Toefl,IPK
0,1,9018263,Puguh Drajat E.P,Purworejo. 4 November 1989,FTI / Teknik Iformatika,Tangerang Rt. 01/ 0,2009,2016,NaN,2.4,1475635.0,390.0,2.13
1,2,12022030,Arsyad Cahya Subrata,Bantul. 21 juni 1994,FTI / Teknik Elektro,Karangpule Rt.01 . Tirtonirmolo . Kasihan Bantul,2012,2016,NaN,NaN,NaN,NaN,NaN
2,3,12020021,Yesi Novela,Tempilang. 1 januari 1995,FTI,NaN,2012,2016,Mahasiswa,2.4,1475635.0,NaN,NaN
3,4,9018269,Pandu Herwijaya,Lampung. 19 Desember 1990,FTI/ Teknik Infomatika,Tamantirto. Kasihan .Bantul,2009,2016,NaN,2.4,1475634.0,413.0,2.75
4,5,9018109,Anjar Prasetyo,Gunungkidul. 27 April 1991,FTI /Teknik Informatika,Umbulharjo . Yogyakarta,2009,2016,NaN,NaN,NaN,NaN,NaN
5,6,9020026,Moh. Dadi Kurniawan,Savanajaya. 27 Maret 1992,FTI / Futsal,Saren Rt. 02 Rw. 01 Caturtunggal,2009,2016,NaN,2.4,1475635.0,400.0,3.24
6,7,12018060,Martin Sarlina,Lepak. 23 Maret 1994,FTI,NTB,2012,2016,NaN,2.4,1475635.0,396.0,3.27
7,8,11018022,Yan Adhi Permadi,Jepara. 22 juni 1993,FTI,Umbulharjo V,2011,2016,Wiraswasta,2.4,1475635.0,460.0,3.20
8,9,9018212,Achicha Wahyuni,Yogyakarta. 3 juni 1991,FTI/ Web Design,Noyokerten. Sendangirto. Berbah,2009,2016,Guru,0.0,600000.0,403.0,3.24
9,10,9018301,Yayan Tisna Permadi,Purbalingga. 08 Oktober 1991,FTI/ Teknik Inormatika,Tajug. Rt.04/ 05 Purbalingga,2009,2016,NaN,2.4,1475635.0,450.0,3.06
10,11,12022020,Muh. Rama dhai,Pekanbaru. 29 Maret 1992,FTI / Teknik Elektro,Karongan Rt/Rw. 04/11 Jogotirto. Berbah Sleman,2012,2016,NaN,2.4,1200000.0,423.0,3.47
11,12,12022038,Nurwahyuddi,Dili. timor-timur/ 13 April 1995,FTI / Teknik Elektro,Juru Gentong J V/407 C Banguntapan,2012,2016,Mahasiswa,2.4,1475635.0,413.0,3.62
12,13,12019039,Agus Purnomo,Klaten. 2 Agustus 1992,FTI/ Teknik Industri,Dukuh Glagahwangi. Polanharjo,2012,2016,NaN,2.4,1475635.0,480.0,3.32
13,14,11018111,M. Akhwan Zulfayandi,Teros. 12 September 1992,FTI/ Teknik Informatika,Jl. Peumnas gg. Indragiri Blok B/24. Condongcatur,2011,2016,NaN,2.4,1475635.0,406.0,3.14
14,15,9018135,Yunita Tri Hernawai,Magelang. 20 Juni 1991,FTI/ Teknik Informatika,Magelang,2009,2016,Swasta,1.0,1500000.0,423.0,2.99
15,16,12018161,Pratama Setya Aji,Sleman. 20 September 1994,FTI,Jl. Affandi gg.Kamboja CTX.19 Yogyakarta,2012,2016,Freelance,0.0,750000.0,400.0,3.60

In [7]:
df.loc[:, ['Nama','TTL']]

                    Nama                               TTL
0       Puguh Drajat E.P        Purworejo. 4 November 1989
1   Arsyad Cahya Subrata              Bantul. 21 juni 1994
2           Yesi Novela          Tempilang. 1 januari 1995
3        Pandu Herwijaya         Lampung. 19 Desember 1990
4         Anjar Prasetyo        Gunungkidul. 27 April 1991
5    Moh. Dadi Kurniawan         Savanajaya. 27 Maret 1992
6         Martin Sarlina              Lepak. 23 Maret 1994
7       Yan Adhi Permadi              Jepara. 22 juni 1993
8        Achicha Wahyuni           Yogyakarta. 3 juni 1991
9    Yayan Tisna Permadi      Purbalingga. 08 Oktober 1991
10        Muh. Rama dhai          Pekanbaru. 29 Maret 1992
11           Nurwahyuddi  Dili. timor-timur/ 13 April 1995
12          Agus Purnomo            Klaten. 2 Agustus 1992
13  M. Akhwan Zulfayandi          Teros. 12 September 1992
14   Yunita Tri Hernawai            Magelang. 20 Juni 1991
15     Pratama Setya Aji         Sleman. 20 September 1994

In [8]:
for index, row in df.iterrows():
    df.loc[index, 'Tahun Lahir'] = row['TTL'][-4:]
df

,No,Nim,Nama,TTL,Fakultas/Ketrampilan,Alamat,Tahun Masuk,Tahun Lulus,Status Pekerjaan,Lama Masa Tunggu (bulan),Gaji Pertama bekerjaa,Nilai Toefl,IPK,Tahun Lahir
0,1,9018263,Puguh Drajat E.P,Purworejo. 4 November 1989,FTI / Teknik Iformatika,Tangerang Rt. 01/ 0,2009,2016,NaN,2.4,1475635.0,390.0,2.13,1989
1,2,12022030,Arsyad Cahya Subrata,Bantul. 21 juni 1994,FTI / Teknik Elektro,Karangpule Rt.01 . Tirtonirmolo . Kasihan Bantul,2012,2016,NaN,NaN,NaN,NaN,NaN,1994
2,3,12020021,Yesi Novela,Tempilang. 1 januari 1995,FTI,NaN,2012,2016,Mahasiswa,2.4,1475635.0,NaN,NaN,1995
3,4,9018269,Pandu Herwijaya,Lampung. 19 Desember 1990,FTI/ Teknik Infomatika,Tamantirto. Kasihan .Bantul,2009,2016,NaN,2.4,1475634.0,413.0,2.75,1990
4,5,9018109,Anjar Prasetyo,Gunungkidul. 27 April 1991,FTI /Teknik Informatika,Umbulharjo . Yogyakarta,2009,2016,NaN,NaN,NaN,NaN,NaN,1991
5,6,9020026,Moh. Dadi Kurniawan,Savanajaya. 27 Maret 1992,FTI / Futsal,Saren Rt. 02 Rw. 01 Caturtunggal,2009,2016,NaN,2.4,1475635.0,400.0,3.24,1992
6,7,12018060,Martin Sarlina,Lepak. 23 Maret 1994,FTI,NTB,2012,2016,NaN,2.4,1475635.0,396.0,3.27,1994
7,8,11018022,Yan Adhi Permadi,Jepara. 22 juni 1993,FTI,Umbulharjo V,2011,2016,Wiraswasta,2.4,1475635.0,460.0,3.20,1993
8,9,9018212,Achicha Wahyuni,Yogyakarta. 3 juni 1991,FTI/ Web Design,Noyokerten. Sendangirto. Berbah,2009,2016,Guru,0.0,600000.0,403.0,3.24,1991
9,10,9018301,Yayan Tisna Permadi,Purbalingga. 08 Oktober 1991,FTI/ Teknik Inormatika,Tajug. Rt.04/ 05 Purbalingga,2009,2016,NaN,2.4,1475635.0,450.0,3.06,1991
10,11,12022020,Muh. Rama dhai,Pekanbaru. 29 Maret 1992,FTI / Teknik Elektro,Karongan Rt/Rw. 04/11 Jogotirto. Berbah Sleman,2012,2016,NaN,2.4,1200000.0,423.0,3.47,1992
11,12,12022038,Nurwahyuddi,Dili. timor-timur/ 13 April 1995,FTI / Teknik Elektro,Juru Gentong J V/407 C Banguntapan,2012,2016,Mahasiswa,2.4,1475635.0,413.0,3.62,1995
12,13,12019039,Agus Purnomo,Klaten. 2 Agustus 1992,FTI/ Teknik Industri,Dukuh Glagahwangi. Polanharjo,2012,2016,NaN,2.4,1475635.0,480.0,3.32,1992
13,14,11018111,M. Akhwan Zulfayandi,Teros. 12 September 1992,FTI/ Teknik Informatika,Jl. Peumnas gg. Indragiri Blok B/24. Condongcatur,2011,2016,NaN,2.4,1475635.0,406.0,3.14,1992
14,15,9018135,Yunita Tri Hernawai,Magelang. 20 Juni 1991,FTI/ Teknik Informatika,Magelang,2009,2016,Swasta,1.0,1500000.0,423.0,2.99,1991
15,16,12018161,Pratama Setya Aji,Sleman. 20 September 1994,FTI,Jl. Affandi gg.Kamboja CTX.19 Yogyakarta,2012,2016,Freelance,0.0,750000.0,400.0,3.60,1994

In [10]:
from datetime import datetime
now = datetime.now()
now.year
for index, row in df.iterrows():
    df.loc[index, 'Umur']=now.year - int (row['Tahun Lahir'])
df

,No,Nim,Nama,TTL,Fakultas/Ketrampilan,Alamat,Tahun Masuk,Tahun Lulus,Status Pekerjaan,Lama Masa Tunggu (bulan),Gaji Pertama bekerjaa,Nilai Toefl,IPK,Tahun Lahir,Umur
0,1,9018263,Puguh Drajat E.P,Purworejo. 4 November 1989,FTI / Teknik Iformatika,Tangerang Rt. 01/ 0,2009,2016,NaN,2.4,1475635.0,390.0,2.13,1989,32.0
1,2,12022030,Arsyad Cahya Subrata,Bantul. 21 juni 1994,FTI / Teknik Elektro,Karangpule Rt.01 . Tirtonirmolo . Kasihan Bantul,2012,2016,NaN,NaN,NaN,NaN,NaN,1994,27.0
2,3,12020021,Yesi Novela,Tempilang. 1 januari 1995,FTI,NaN,2012,2016,Mahasiswa,2.4,1475635.0,NaN,NaN,1995,26.0
3,4,9018269,Pandu Herwijaya,Lampung. 19 Desember 1990,FTI/ Teknik Infomatika,Tamantirto. Kasihan .Bantul,2009,2016,NaN,2.4,1475634.0,413.0,2.75,1990,31.0
4,5,9018109,Anjar Prasetyo,Gunungkidul. 27 April 1991,FTI /Teknik Informatika,Umbulharjo . Yogyakarta,2009,2016,NaN,NaN,NaN,NaN,NaN,1991,30.0
5,6,9020026,Moh. Dadi Kurniawan,Savanajaya. 27 Maret 1992,FTI / Futsal,Saren Rt. 02 Rw. 01 Caturtunggal,2009,2016,NaN,2.4,1475635.0,400.0,3.24,1992,29.0
6,7,12018060,Martin Sarlina,Lepak. 23 Maret 1994,FTI,NTB,2012,2016,NaN,2.4,1475635.0,396.0,3.27,1994,27.0
7,8,11018022,Yan Adhi Permadi,Jepara. 22 juni 1993,FTI,Umbulharjo V,2011,2016,Wiraswasta,2.4,1475635.0,460.0,3.20,1993,28.0
8,9,9018212,Achicha Wahyuni,Yogyakarta. 3 juni 1991,FTI/ Web Design,Noyokerten. Sendangirto. Berbah,2009,2016,Guru,0.0,600000.0,403.0,3.24,1991,30.0
9,10,9018301,Yayan Tisna Permadi,Purbalingga. 08 Oktober 1991,FTI/ Teknik Inormatika,Tajug. Rt.04/ 05 Purbalingga,2009,2016,NaN,2.4,1475635.0,450.0,3.06,1991,30.0
10,11,12022020,Muh. Rama dhai,Pekanbaru. 29 Maret 1992,FTI / Teknik Elektro,Karongan Rt/Rw. 04/11 Jogotirto. Berbah Sleman,2012,2016,NaN,2.4,1200000.0,423.0,3.47,1992,29.0
11,12,12022038,Nurwahyuddi,Dili. timor-timur/ 13 April 1995,FTI / Teknik Elektro,Juru Gentong J V/407 C Banguntapan,2012,2016,Mahasiswa,2.4,1475635.0,413.0,3.62,1995,26.0
12,13,12019039,Agus Purnomo,Klaten. 2 Agustus 1992,FTI/ Teknik Industri,Dukuh Glagahwangi. Polanharjo,2012,2016,NaN,2.4,1475635.0,480.0,3.32,1992,29.0
13,14,11018111,M. Akhwan Zulfayandi,Teros. 12 September 1992,FTI/ Teknik Informatika,Jl. Peumnas gg. Indragiri Blok B/24. Condongcatur,2011,2016,NaN,2.4,1475635.0,406.0,3.14,1992,29.0
14,15,9018135,Yunita Tri Hernawai,Magelang. 20 Juni 1991,FTI/ Teknik Informatika,Magelang,2009,2016,Swasta,1.0,1500000.0,423.0,2.99,1991,30.0
15,16,12018161,Pratama Setya Aji,Sleman. 20 September 1994,FTI,Jl. Affandi gg.Kamboja CTX.19 Yogyakarta,2012,2016,Freelance,0.0,750000.0,400.0,3.60,1994,27.0

In [11]:
for index, row in df.iterrows():
    df.loc[index, 'Masa Studi']=row['Tahun Lulus']-row['Tahun Masuk']
df

,No,Nim,Nama,TTL,Fakultas/Ketrampilan,Alamat,Tahun Masuk,Tahun Lulus,Status Pekerjaan,Lama Masa Tunggu (bulan),Gaji Pertama bekerjaa,Nilai Toefl,IPK,Tahun Lahir,Umur,Masa Studi
0,1,9018263,Puguh Drajat E.P,Purworejo. 4 November 1989,FTI / Teknik Iformatika,Tangerang Rt. 01/ 0,2009,2016,NaN,2.4,1475635.0,390.0,2.13,1989,32.0,7.0
1,2,12022030,Arsyad Cahya Subrata,Bantul. 21 juni 1994,FTI / Teknik Elektro,Karangpule Rt.01 . Tirtonirmolo . Kasihan Bantul,2012,2016,NaN,NaN,NaN,NaN,NaN,1994,27.0,4.0
2,3,12020021,Yesi Novela,Tempilang. 1 januari 1995,FTI,NaN,2012,2016,Mahasiswa,2.4,1475635.0,NaN,NaN,1995,26.0,4.0
3,4,9018269,Pandu Herwijaya,Lampung. 19 Desember 1990,FTI/ Teknik Infomatika,Tamantirto. Kasihan .Bantul,2009,2016,NaN,2.4,1475634.0,413.0,2.75,1990,31.0,7.0
4,5,9018109,Anjar Prasetyo,Gunungkidul. 27 April 1991,FTI /Teknik Informatika,Umbulharjo . Yogyakarta,2009,2016,NaN,NaN,NaN,NaN,NaN,1991,30.0,7.0
5,6,9020026,Moh. Dadi Kurniawan,Savanajaya. 27 Maret 1992,FTI / Futsal,Saren Rt. 02 Rw. 01 Caturtunggal,2009,2016,NaN,2.4,1475635.0,400.0,3.24,1992,29.0,7.0
6,7,12018060,Martin Sarlina,Lepak. 23 Maret 1994,FTI,NTB,2012,2016,NaN,2.4,1475635.0,396.0,3.27,1994,27.0,4.0
7,8,11018022,Yan Adhi Permadi,Jepara. 22 juni 1993,FTI,Umbulharjo V,2011,2016,Wiraswasta,2.4,1475635.0,460.0,3.20,1993,28.0,5.0
8,9,9018212,Achicha Wahyuni,Yogyakarta. 3 juni 1991,FTI/ Web Design,Noyokerten. Sendangirto. Berbah,2009,2016,Guru,0.0,600000.0,403.0,3.24,1991,30.0,7.0
9,10,9018301,Yayan Tisna Permadi,Purbalingga. 08 Oktober 1991,FTI/ Teknik Inormatika,Tajug. Rt.04/ 05 Purbalingga,2009,2016,NaN,2.4,1475635.0,450.0,3.06,1991,30.0,7.0
10,11,12022020,Muh. Rama dhai,Pekanbaru. 29 Maret 1992,FTI / Teknik Elektro,Karongan Rt/Rw. 04/11 Jogotirto. Berbah Sleman,2012,2016,NaN,2.4,1200000.0,423.0,3.47,1992,29.0,4.0
11,12,12022038,Nurwahyuddi,Dili. timor-timur/ 13 April 1995,FTI / Teknik Elektro,Juru Gentong J V/407 C Banguntapan,2012,2016,Mahasiswa,2.4,1475635.0,413.0,3.62,1995,26.0,4.0
12,13,12019039,Agus Purnomo,Klaten. 2 Agustus 1992,FTI/ Teknik Industri,Dukuh Glagahwangi. Polanharjo,2012,2016,NaN,2.4,1475635.0,480.0,3.32,1992,29.0,4.0
13,14,11018111,M. Akhwan Zulfayandi,Teros. 12 September 1992,FTI/ Teknik Informatika,Jl. Peumnas gg. Indragiri Blok B/24. Condongcatur,2011,2016,NaN,2.4,1475635.0,406.0,3.14,1992,29.0,5.0
14,15,9018135,Yunita Tri Hernawai,Magelang. 20 Juni 1991,FTI/ Teknik Informatika,Magelang,2009,2016,Swasta,1.0,1500000.0,423.0,2.99,1991,30.0,7.0
15,16,12018161,Pratama Setya Aji,Sleman. 20 September 1994,FTI,Jl. Affandi gg.Kamboja CTX.19 Yogyakarta,2012,2016,Freelance,0.0,750000.0,400.0,3.60,1994,27.0,4.0