# postest no.1

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('Data Alumni latihan.xlsx')
df

     1.00        3000000.00  3.37        460.00
0           4.0   1300000.0        3.72       440.0
1           9.0   2000000.0        3.00       480.0
2           2.0   2000000.0        3.15       500.0
3           5.0   3500000.0        3.10       434.0
4           5.0   7000000.0        2.80       435.0
..          ...         ...         ...         ...
97          4.0    300000.0        3.54       400.0
98          5.0   1500000.0        3.03       465.0
99          3.0   1000000.0        3.52       423.0
100         6.0    600000.0        3.19       410.0
101         3.0    700000.0        3.40       425.0

[102 rows x 4 columns]

In [4]:
df.columns = ['angka1', 'angka2', 'angka3', 'angka4']
df

     angka1     angka2  angka3  angka4
0       4.0  1300000.0    3.72   440.0
1       9.0  2000000.0    3.00   480.0
2       2.0  2000000.0    3.15   500.0
3       5.0  3500000.0    3.10   434.0
4       5.0  7000000.0    2.80   435.0
..      ...        ...     ...     ...
97      4.0   300000.0    3.54   400.0
98      5.0  1500000.0    3.03   465.0
99      3.0  1000000.0    3.52   423.0
100     6.0   600000.0    3.19   410.0
101     3.0   700000.0    3.40   425.0

[102 rows x 4 columns]

In [5]:
df.isna().sum()

angka1    0
angka2    1
angka3    0
angka4    3
dtype: int64

In [6]:
mean_angka2 = df.angka2.mean()
mean_angka2

1549504.9504950496

In [7]:
mean_angka4 = df.angka4.mean()
mean_angka4

431.42424242424244

In [8]:
df.angka2.fillna(mean_angka2, inplace=True)
df.angka4.fillna(mean_angka4, inplace=True)
df

     angka1     angka2  angka3  angka4
0       4.0  1300000.0    3.72   440.0
1       9.0  2000000.0    3.00   480.0
2       2.0  2000000.0    3.15   500.0
3       5.0  3500000.0    3.10   434.0
4       5.0  7000000.0    2.80   435.0
..      ...        ...     ...     ...
97      4.0   300000.0    3.54   400.0
98      5.0  1500000.0    3.03   465.0
99      3.0  1000000.0    3.52   423.0
100     6.0   600000.0    3.19   410.0
101     3.0   700000.0    3.40   425.0

[102 rows x 4 columns]

In [9]:
df.isna().sum()

angka1    0
angka2    0
angka3    0
angka4    0
dtype: int64

# postest no.2

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('siswa.csv')
df

,No,no Induk,Nama,jen kel,alamat,Agama,Tgl Lahir,Tmpt Lahir,Nama_Wali,Pekerjaan Wali,Pend,alamat wali,Thn msk,usia msk,lulus,UAS,predikat,pend sebelumSD
0,1,2683,Ani Yuanita,P,Tegallayang,Islam,3-Nov-93,Bantul,Sukarjo,Petani,SD,Tegallayang,2000,7,2007,"17,9",Cukup,TK
1,2,2686,Burhan Fajar P.,L,Tegallayang,Islam,29-Des-93,Bantul,Hadi Wardoyo,Petani,SMA,Tegallayang,2000,7,2007,"16,9",Cukup,TK
2,3,2688,Heri Budiyanto,L,Tegallayang,Islam,15-Feb-94,Bantul,Ribut,Petani,SMA,Tegallayang,2000,6,2007,"20,15",Cukup,TK
3,4,2700,Dimas Satrio W.,L,Tegallayang,Islam,20-Apr-94,Bantul,FX Slamet Sudarsono,PNS,PT,Tegallayang,2001,7,2007,"18,35",Cukup,TK
4,5,2701,Nur Hidayat,L,Tegallayang,Islam,12-Jun-94,Kuningan,Ofan,Wiraswasta,SLTP,Tegallayang,2001,7,2007,"26,1",Baik,TK
5,6,2702,Vilda Lestari,P,Tegallayang,Islam,25-Jun-94,Bantul,Rochmadi,Petani,SLTP,Tegallayang,2001,7,2007,"13,6",Kurang,TK
6,7,2703,Edi Suryanto,L,Tegallayang,Islam,6-Jul-94,Bantul,Sukiman,Petani,SD,Tegallayang,2001,7,2007,"22,65",Baik,TK
7,8,2705,Erna Dwi Puspita,P,Tegallayang,Islam,12-Sep-94,Bantul,Sumarjo,Wiraswasta,SD,Tegallayang,2001,7,2007,"18,05",Cukup,TK
8,9,2706,Nurfita FF,P,Daguran,Islam,4-Okt-94,Bantul,Giyana,Wiraswasta,SD,Tegallayang,2001,7,2007,"16,15",Cukup,TK
9,10,2707,Fahmi dwi N.,L,Tegallayang,Islam,5-Okt-94,Bantul,Syamsudin,Petani,SD,Tegallayang,2001,7,2007,"26,9",Baik,TK
10,11,2709,Hamzah Pramudya,L,Tegallayang,Islam,15-Nov-94,Bantul,Slamet Riyadi,Wiraswasta,SLTA,Tegallayang,2001,7,2007,"20,95",Cukup,TK
11,12,2710,Nurcahto,L,Tegallayang,Islam,19-Nov-94,Bantul,Sarjiman,Petani,SD,Tegallayang,2001,7,2007,"25,25",Baik,TK
12,13,2711,Aminatun R.,P,Tegallayang,Islam,29-Nov-94,Bantul,Supriyanto,PNS,SLTA,Tegallayang,2001,7,2007,"25,45",Baik,TK
13,14,2712,Tri Haryanto,L,Tegallayang,Islam,21-Des-94,Bantul,Sugiman,Wiraswasta,SD,Tegallayang,2001,7,2007,"28,85",Baik,TK
14,15,2715,Irma Kautsaril Q.,P,Daguran,Islam,11-Feb-95,Same,Drs. Mursid Purwanto,PNS,S1,Daguran,2001,6,2007,"25,4",Baik,TK
15,16,2718,Risna Dania,P,Tegallayang,Islam,22-Mar-95,Bantul,Kasidi,Petani,SD,Tegallayang,2001,6,2007,"25,1",Baik,TK
16,17,2720,Ageng Priyono,L,Tegallayang,Islam,30-Apr-95,Bantul,Suwarnun,Petani,SLTP,Tegallayang,2001,6,2007,"24,2",Baik,TK
17,18,2722,Reny Surya P,P,Tegallayang,Islam,14-Jun-95,Bantul,Markiyono,Petani,SD,Tegallayang,2001,6,2007,"26,6",Baik,TK
18,19,2723,Layly Aslinda S.,P,Tegallayang,Islam,15-Jun-95,Blora,Rukidi,ABRI,SLTP,Tegallayang,2001,6,2007,"27,15",Baik,TK
19,20,2724,David Setiarso,L,Tegallayang,Islam,29-Jun-95,Bantul,Jualdi,Petani,SD,Tegallayang,2001,6,2007,"26,5",Baik,TK
20,21,2726,Agne Cia,P,Tegallayang,Islam,15-Agu-95,Bantul,Wahid Wahono,Wiraswasta,SLTP,Tegallayang,2001,6,2007,"24,6",Baik,TK
21,22,2727,Hari Anggoro,L,Tegallayang,Islam,10-Okt-95,Bantul,Kamidi,Wiraswasta,SD,Tegallayang,2001,6,2007,"20,5",Cukup,TK
22,23,2728,Anas Bayu P,L,Tegallayang,Islam,22-Okt-95,Bantul,Ratijo,Petani,SLTA,Tegallayang,2001,6,2007,"18,45",Cukup,TK
23,24,2627,Danar Apriyanto,L,Tegallayang,Islam,6-Apr-93,Bantul,Suratijo,Petani,SLTP,Tegallayang,2000,7,2008,"18,3",Cukup,TK
24,25,2704,Agus Dwi Saputra,L,Tegallayang,Islam,9-Agu-94,Bantul,Karnen,Petani,SD,Tegallayang,2001,7,2008,"16,45",Cukup,TK
25,26,2721,Wahyu Hidayat,L,Tegallayang,Islam,25-Mei-95,Bantul,Subardiyono,Petani,SD,Tegallayang,2001,6,2008,"23,2",Baik,TK
26,27,2725,Slamet Riyanto,L,Tegallayang,Islam,26-Jun-95,Bantul,Paiman,Petani,SD,Tegallayang,2001,6,2008,"18,75",Cukup,TK
27,28,2729,Ahmad Alfian Y.,L,Tegallayang,Islam,14-Sep-95,Bantul,Yitno Pranoto,Wiraswasta,SPG,Tegallayang,2002,7,2008,"23,1",Baik,TK
28,29,2730,Andini Setyowati,P,Tegallayang,Islam,3-Okt-95,Bantul,Paniyo,Wiraswasta,SLTP,Tegallayang,2002,7,2008,"21,85",Baik,TK

In [12]:
df.dtypes

No                 int64
no Induk           int64
Nama              object
jen kel           object
alamat            object
Agama             object
Tgl Lahir         object
Tmpt Lahir        object
Nama_Wali         object
Pekerjaan Wali    object
Pend              object
alamat wali       object
Thn msk            int64
usia msk           int64
 lulus             int64
UAS               object
predikat          object
pend sebelumSD    object
dtype: object

In [13]:
df['UAS'] = df['UAS'].str.replace(",",".").astype(float)
df

,No,no Induk,Nama,jen kel,alamat,Agama,Tgl Lahir,Tmpt Lahir,Nama_Wali,Pekerjaan Wali,Pend,alamat wali,Thn msk,usia msk,lulus,UAS,predikat,pend sebelumSD
0,1,2683,Ani Yuanita,P,Tegallayang,Islam,3-Nov-93,Bantul,Sukarjo,Petani,SD,Tegallayang,2000,7,2007,17.90,Cukup,TK
1,2,2686,Burhan Fajar P.,L,Tegallayang,Islam,29-Des-93,Bantul,Hadi Wardoyo,Petani,SMA,Tegallayang,2000,7,2007,16.90,Cukup,TK
2,3,2688,Heri Budiyanto,L,Tegallayang,Islam,15-Feb-94,Bantul,Ribut,Petani,SMA,Tegallayang,2000,6,2007,20.15,Cukup,TK
3,4,2700,Dimas Satrio W.,L,Tegallayang,Islam,20-Apr-94,Bantul,FX Slamet Sudarsono,PNS,PT,Tegallayang,2001,7,2007,18.35,Cukup,TK
4,5,2701,Nur Hidayat,L,Tegallayang,Islam,12-Jun-94,Kuningan,Ofan,Wiraswasta,SLTP,Tegallayang,2001,7,2007,26.10,Baik,TK
5,6,2702,Vilda Lestari,P,Tegallayang,Islam,25-Jun-94,Bantul,Rochmadi,Petani,SLTP,Tegallayang,2001,7,2007,13.60,Kurang,TK
6,7,2703,Edi Suryanto,L,Tegallayang,Islam,6-Jul-94,Bantul,Sukiman,Petani,SD,Tegallayang,2001,7,2007,22.65,Baik,TK
7,8,2705,Erna Dwi Puspita,P,Tegallayang,Islam,12-Sep-94,Bantul,Sumarjo,Wiraswasta,SD,Tegallayang,2001,7,2007,18.05,Cukup,TK
8,9,2706,Nurfita FF,P,Daguran,Islam,4-Okt-94,Bantul,Giyana,Wiraswasta,SD,Tegallayang,2001,7,2007,16.15,Cukup,TK
9,10,2707,Fahmi dwi N.,L,Tegallayang,Islam,5-Okt-94,Bantul,Syamsudin,Petani,SD,Tegallayang,2001,7,2007,26.90,Baik,TK
10,11,2709,Hamzah Pramudya,L,Tegallayang,Islam,15-Nov-94,Bantul,Slamet Riyadi,Wiraswasta,SLTA,Tegallayang,2001,7,2007,20.95,Cukup,TK
11,12,2710,Nurcahto,L,Tegallayang,Islam,19-Nov-94,Bantul,Sarjiman,Petani,SD,Tegallayang,2001,7,2007,25.25,Baik,TK
12,13,2711,Aminatun R.,P,Tegallayang,Islam,29-Nov-94,Bantul,Supriyanto,PNS,SLTA,Tegallayang,2001,7,2007,25.45,Baik,TK
13,14,2712,Tri Haryanto,L,Tegallayang,Islam,21-Des-94,Bantul,Sugiman,Wiraswasta,SD,Tegallayang,2001,7,2007,28.85,Baik,TK
14,15,2715,Irma Kautsaril Q.,P,Daguran,Islam,11-Feb-95,Same,Drs. Mursid Purwanto,PNS,S1,Daguran,2001,6,2007,25.40,Baik,TK
15,16,2718,Risna Dania,P,Tegallayang,Islam,22-Mar-95,Bantul,Kasidi,Petani,SD,Tegallayang,2001,6,2007,25.10,Baik,TK
16,17,2720,Ageng Priyono,L,Tegallayang,Islam,30-Apr-95,Bantul,Suwarnun,Petani,SLTP,Tegallayang,2001,6,2007,24.20,Baik,TK
17,18,2722,Reny Surya P,P,Tegallayang,Islam,14-Jun-95,Bantul,Markiyono,Petani,SD,Tegallayang,2001,6,2007,26.60,Baik,TK
18,19,2723,Layly Aslinda S.,P,Tegallayang,Islam,15-Jun-95,Blora,Rukidi,ABRI,SLTP,Tegallayang,2001,6,2007,27.15,Baik,TK
19,20,2724,David Setiarso,L,Tegallayang,Islam,29-Jun-95,Bantul,Jualdi,Petani,SD,Tegallayang,2001,6,2007,26.50,Baik,TK
20,21,2726,Agne Cia,P,Tegallayang,Islam,15-Agu-95,Bantul,Wahid Wahono,Wiraswasta,SLTP,Tegallayang,2001,6,2007,24.60,Baik,TK
21,22,2727,Hari Anggoro,L,Tegallayang,Islam,10-Okt-95,Bantul,Kamidi,Wiraswasta,SD,Tegallayang,2001,6,2007,20.50,Cukup,TK
22,23,2728,Anas Bayu P,L,Tegallayang,Islam,22-Okt-95,Bantul,Ratijo,Petani,SLTA,Tegallayang,2001,6,2007,18.45,Cukup,TK
23,24,2627,Danar Apriyanto,L,Tegallayang,Islam,6-Apr-93,Bantul,Suratijo,Petani,SLTP,Tegallayang,2000,7,2008,18.30,Cukup,TK
24,25,2704,Agus Dwi Saputra,L,Tegallayang,Islam,9-Agu-94,Bantul,Karnen,Petani,SD,Tegallayang,2001,7,2008,16.45,Cukup,TK
25,26,2721,Wahyu Hidayat,L,Tegallayang,Islam,25-Mei-95,Bantul,Subardiyono,Petani,SD,Tegallayang,2001,6,2008,23.20,Baik,TK
26,27,2725,Slamet Riyanto,L,Tegallayang,Islam,26-Jun-95,Bantul,Paiman,Petani,SD,Tegallayang,2001,6,2008,18.75,Cukup,TK
27,28,2729,Ahmad Alfian Y.,L,Tegallayang,Islam,14-Sep-95,Bantul,Yitno Pranoto,Wiraswasta,SPG,Tegallayang,2002,7,2008,23.10,Baik,TK
28,29,2730,Andini Setyowati,P,Tegallayang,Islam,3-Okt-95,Bantul,Paniyo,Wiraswasta,SLTP,Tegallayang,2002,7,2008,21.85,Baik,TK

In [14]:
df.isna().sum()

No                0
no Induk          0
Nama              0
jen kel           0
alamat            0
Agama             0
Tgl Lahir         0
Tmpt Lahir        0
Nama_Wali         0
Pekerjaan Wali    0
Pend              0
alamat wali       0
Thn msk           0
usia msk          0
 lulus            0
UAS               0
predikat          0
pend sebelumSD    0
dtype: int64

In [15]:
mean_UAS = df.UAS.mean()
mean_UAS

21.979310344827592

In [16]:
import statistics
from statistics import stdev

In [17]:
std_UAS = (statistics.stdev(df.UAS))
std_UAS

4.074978467107423

In [18]:
T_UAS_max = mean_UAS + (2*std_UAS)
T_UAS_max

30.129267279042438

In [19]:
T_UAS_min = mean_UAS - (2*std_UAS)
T_UAS_min

13.829353410612747

# postest no.3

In [20]:
import pandas as pd

In [21]:
df = pd.read_excel('penumpangtransjogja.xlsx')
df

            Halte Kode bus          Jam  jml di bus  masuk   keluar
0          Musper     1B.1  05.00-06.00           0       0       0
1          Musper     1B.2  06.00-07.00           9       0       3
2          Musper     1B.3  07.00-08.00           7       0       4
3          Musper     1B.4  08.00-09.00          20       3      14
4          Musper     1B.5  09.00-10.00          49       9      30
5   Condong catur     1B.6  10.00-11.00         117      12      82
6       Binamarga     1B.7  11.00-12.00          72      38      80
7             JEC     1B.8  12.00-13.00         120      69      37
8       Malioboro     1B.9  13.00-14.00          35       0       0
9          Musper    1B.10  14.00-15.00           0       0       0
10         Musper    1B.11  15.00-16.00           0       0       0
11  Condong catur    1B.12  16.00-17.00           0       0       0
12      Binamarga    1B.13  17.00-18.00           0       0       0
13            JEC    1B.14  18.00-19.00           0       0       0
14         Musper    1B.15  19.00-20.00           0       0       0
15         Musper    1B.16  20.00-21.00           0       0       0
16         Musper     2B.1  05.00-06.00           1       1       0
17  Condong catur     2B.2  06.00-07.00          14       5       4
18      Binamarga     2B.3  07.00-08.00          27       5       2
19            JEC     2B.4  08.00-09.00          27       7       9
20      Malioboro     2B.5  09.00-10.00          66      18      13
21         Musper     2B.6  10.00-11.00          53      40      29
22         Musper     2B.7  11.00-12.00         120      43      42
23         Musper     2B.8  12.00-13.00         158      38      60
24         Musper     2B.9  13.00-14.00           8      15       0
25  Condong catur    2B.10  14.00-15.00          18       9       3
26      Binamarga    2B.11  15.00-16.00          12      11       2
27            JEC    2B.12  16.00-17.00          18      12       7
28      Malioboro    2B.13  17.00-18.00          17      10       7
29         Musper    2B.14  18.00-19.00           7      21       2
30         Musper    2B.15  19.00-20.00          11       7       2
31         Musper    2B.16  20.00-21.00           4       4       1
32         Musper     3B.1  05.00-06.00           0       0       0
33  Condong catur     3B.2  06.00-07.00           0       0       0
34      Binamarga     3B.3  07.00-08.00           0       0       0
35            JEC     3B.4  08.00-09.00           0       0       0
36      Malioboro     3B.5  09.00-10.00           0       0       0
37         Musper     3B.6  10.00-11.00           0       0       0
38         Musper     3B.7  11.00-12.00           0       0       0
39         Musper     3B.8  12.00-13.00           0       0       0
40         Musper     3B.9  13.00-14.00          18       0       8
41  Condong catur    3B.10  14.00-15.00          20       4      10
42      Binamarga    3B.11  15.00-16.00          21       4      11
43            JEC    3B.12  16.00-17.00          37       4      14
44      Malioboro    3B.13  17.00-18.00          43       3      18
45         Musper    3B.14  18.00-19.00          25       4      15
46      Malioboro    3B.15  19.00-20.00          18       0       4
47         Musper    3B.16  20.00-21.00          18       0       7

In [22]:
df.columns = ['halte', 'kodebus', 'jam', 'jumlahpenumpang', 'masuk', 'keluar']
df

            halte kodebus          jam  jumlahpenumpang  masuk  keluar
0          Musper    1B.1  05.00-06.00                0      0       0
1          Musper    1B.2  06.00-07.00                9      0       3
2          Musper    1B.3  07.00-08.00                7      0       4
3          Musper    1B.4  08.00-09.00               20      3      14
4          Musper    1B.5  09.00-10.00               49      9      30
5   Condong catur    1B.6  10.00-11.00              117     12      82
6       Binamarga    1B.7  11.00-12.00               72     38      80
7             JEC    1B.8  12.00-13.00              120     69      37
8       Malioboro    1B.9  13.00-14.00               35      0       0
9          Musper   1B.10  14.00-15.00                0      0       0
10         Musper   1B.11  15.00-16.00                0      0       0
11  Condong catur   1B.12  16.00-17.00                0      0       0
12      Binamarga   1B.13  17.00-18.00                0      0       0
13            JEC   1B.14  18.00-19.00                0      0       0
14         Musper   1B.15  19.00-20.00                0      0       0
15         Musper   1B.16  20.00-21.00                0      0       0
16         Musper    2B.1  05.00-06.00                1      1       0
17  Condong catur    2B.2  06.00-07.00               14      5       4
18      Binamarga    2B.3  07.00-08.00               27      5       2
19            JEC    2B.4  08.00-09.00               27      7       9
20      Malioboro    2B.5  09.00-10.00               66     18      13
21         Musper    2B.6  10.00-11.00               53     40      29
22         Musper    2B.7  11.00-12.00              120     43      42
23         Musper    2B.8  12.00-13.00              158     38      60
24         Musper    2B.9  13.00-14.00                8     15       0
25  Condong catur   2B.10  14.00-15.00               18      9       3
26      Binamarga   2B.11  15.00-16.00               12     11       2
27            JEC   2B.12  16.00-17.00               18     12       7
28      Malioboro   2B.13  17.00-18.00               17     10       7
29         Musper   2B.14  18.00-19.00                7     21       2
30         Musper   2B.15  19.00-20.00               11      7       2
31         Musper   2B.16  20.00-21.00                4      4       1
32         Musper    3B.1  05.00-06.00                0      0       0
33  Condong catur    3B.2  06.00-07.00                0      0       0
34      Binamarga    3B.3  07.00-08.00                0      0       0
35            JEC    3B.4  08.00-09.00                0      0       0
36      Malioboro    3B.5  09.00-10.00                0      0       0
37         Musper    3B.6  10.00-11.00                0      0       0
38         Musper    3B.7  11.00-12.00                0      0       0
39         Musper    3B.8  12.00-13.00                0      0       0
40         Musper    3B.9  13.00-14.00               18      0       8
41  Condong catur   3B.10  14.00-15.00               20      4      10
42      Binamarga   3B.11  15.00-16.00               21      4      11
43            JEC   3B.12  16.00-17.00               37      4      14
44      Malioboro   3B.13  17.00-18.00               43      3      18
45         Musper   3B.14  18.00-19.00               25      4      15
46      Malioboro   3B.15  19.00-20.00               18      0       4
47         Musper   3B.16  20.00-21.00               18      0       7

In [23]:
df.isna().sum()

halte              0
kodebus            0
jam                0
jumlahpenumpang    0
masuk              0
keluar             0
dtype: int64